h1 {
  font-size: 2em;
  display: flex;
  flex-direction: row; }

.font {
  font-family: "Prompt", sans-serif; }

nav .logo a {
  padding: 32px;
  display: flex;
  justify-content: center; }

nav .nav-bar {
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  border: 1px;
  border-style: solid;
  border-color: black; }
  nav .nav-bar div a {
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 50ms;
    transition-timing-function: ease-in-out;
    font-size: 1.3em;
    text-decoration: none;
    font-size: large;
    color: black;
    font-weight: bolder; }
  nav .nav-bar div:hover {
    transform: scale(1.1); }

nav div ul {
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 64px;
  justify-content: center; }
  nav div ul a li {
    display: inline-block;
    padding: 32px;
    border: 16px;
    font-family: 'Prompt', sans-serif; }
    nav div ul a li img {
      text-decoration: none;
      list-style-type: none; }

footer {
  margin: 0px;
  font-size: larger;
  font-weight: 700;
  display: flex;
  justify-content: center; }

.interfaz-page {
  width: auto;
  height: auto;
  padding: 64px;
  display: flex; }

.caracteristicas {
  padding-left: 64px;
  padding-top: 16px;
  flex-direction: column; }

.seccion-ubicacion {
  padding-top: 64px;
  display: flex;
  justify-content: center; }

.ubicacion {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 64px; }

.precio {
  font-weight: bolder;
  font-size: large; }

.border {
  margin-bottom: 32px;
  border: 1px;
  border-style: solid;
  border-color: black;
  transition-property: all;
  transition-delay: 0ms;
  transition-duration: 50ms;
  transition-timing-function: ease-in-out; }

.border:hover {
  transform: scale(1.1); }

@media screen and (max-width: 768px) {
  .nav-bar {
    flex-flow: column;
    padding: 0;
    border-width: 0;
    text-align: center;
    font-size: 2em; }
  .logo {
    flex-flow: column;
    padding: 0;
    padding-top: 32px;
    text-align: center; }
  .content-page {
    flex-flow: column;
    margin-top: 64px;
    padding: 0;
    justify-content: center; }
  h1 {
    border-width: 1px;
    border-color: black;
    border-style: solid; }
  .contenedor-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px; }
  .interfaz-page {
    padding: 0;
    margin: 0;
    flex-flow: column;
    justify-content: center; }
  .caracteristicas {
    padding: 0;
    margin: 0;
    padding-top: 16px; }
  div h1 {
    font-size: 1em;
    padding: 8px; }
  .product-image {
    width: 50%;
    height: 50%;
    padding: 32px; }
  .descripcion {
    padding-top: 64px;
    justify-content: flex-start; }
  .ubicacion-image {
    height: 50%; }
  footer {
    font-size: 0.7em;
    justify-content: center; } }

@media screen and (max-width: 480px) {
  .nav-bar {
    flex-flow: column;
    padding: 0;
    border-width: 0;
    text-align: center;
    font-size: 2em; }
  .logo {
    flex-flow: column;
    padding: 0;
    padding-top: 32px;
    text-align: center; }
  .content-page {
    flex-flow: column;
    margin-top: 64px;
    padding: 0;
    justify-content: center; }
  h1 {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 8px;
    justify-content: flex-start; }
  .contenedor-items {
    display: grid;
    grid-template-columns: 1fr;
    padding: 16px; }
  .product-image {
    width: 30%;
    height: 30%; }
  .seccion-ubicacion {
    display: flex;
    flex-flow: column;
    justify-content: center; }
  .ubicacion-image {
    padding: 0;
    margin: 0; } }
