h1 {
  font-size: 2em;
  display: flex;
  flex-direction: row; }

.font {
  font-family: "Prompt", sans-serif; }

nav .boton, nav .boton-primario, nav .boton-secundario {
  border: 1px;
  padding: 8px;
  margin: 8px;
  border: solid 1px;
  transition-property: all;
  transition-delay: 0ms;
  transition-duration: 50ms;
  transition-timing-function: ease-in-out; }

nav .boton-primario {
  border-color: #dee2e6; }

nav .boton-secundario {
  border-color: black; }

nav .logo a {
  padding: 32px;
  padding-top: 0;
  display: flex;
  justify-content: center; }

nav .boton:hover, nav .boton-primario:hover, nav .boton-secundario:hover {
  transform: scale(1.1);
  background-color: #bbbbbb; }

nav .nav-bar {
  padding: 16px;
  border-radius: 5px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  border: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  margin: 8px; }
  nav .nav-bar div a {
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 50ms;
    transition-timing-function: ease-in-out;
    font-size: 1.3em;
    text-decoration: none;
    font-size: large;
    color: black;
    font-weight: bolder; }
  nav .nav-bar div a:focus {
    color: #bbbbbb; }
  nav .nav-bar div:hover {
    transform: scale(1.1); }

nav div ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 64px;
  justify-content: center;
  justify-items: center;
  padding: 0px 15% 0px 15%; }
  nav div ul a li {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    padding: 32px;
    border: 1px;
    font-family: 'Prompt', sans-serif;
    border-radius: 5px;
    margin-bottom: 32px;
    border: 1px;
    border-style: solid;
    border-color: black !important;
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 50ms;
    transition-timing-function: ease-in-out; }
    nav div ul a li img {
      text-decoration: none;
      list-style-type: none; }
    nav div ul a li p {
      padding-top: 8px; }

footer {
  margin: 0;
  font-size: larger;
  font-weight: 700;
  display: flex;
  justify-content: center; }

.content-page .interfaz-page {
  width: auto;
  height: auto;
  padding-top: 64px;
  padding-bottom: 32px;
  display: flex; }
  .content-page .interfaz-page .contenedor1 {
    display: flex;
    flex-direction: column; }
    .content-page .interfaz-page .contenedor1 .fotos-producto {
      display: flex;
      flex-direction: row;
      max-width: 600px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto; }
      .content-page .interfaz-page .contenedor1 .fotos-producto .product-image {
        width: 100%;
        height: auto; }
    .content-page .interfaz-page .contenedor1 div {
      display: flex;
      flex-direction: row;
      padding-top: 16px; }
      .content-page .interfaz-page .contenedor1 div .foto1 {
        padding-right: 32px;
        transition-property: all;
        transition-delay: 0ms;
        transition-duration: 50ms;
        transition-timing-function: ease-in-out; }
        .content-page .interfaz-page .contenedor1 div .foto1 i {
          max-height: 150px;
          max-width: 150px;
          height: auto;
          width: 100%; }
          .content-page .interfaz-page .contenedor1 div .foto1 i img {
            height: auto;
            width: 100%;
            padding: 0;
            margin: 0; }
      .content-page .interfaz-page .contenedor1 div .foto2 {
        transition-property: all;
        transition-delay: 0ms;
        transition-duration: 50ms;
        transition-timing-function: ease-in-out; }
        .content-page .interfaz-page .contenedor1 div .foto2 i {
          max-height: 150px;
          max-width: 150px;
          height: auto;
          width: 100%; }
          .content-page .interfaz-page .contenedor1 div .foto2 i img {
            height: auto;
            width: 100%;
            padding: 0;
            margin: 0; }
  .content-page .interfaz-page .contenedor2 {
    display: flex;
    padding-left: 96px;
    padding-top: 16px;
    flex-direction: column;
    align-items: flex-start; }
    .content-page .interfaz-page .contenedor2 h2 {
      padding-top: 8px;
      padding-bottom: 16px; }
    .content-page .interfaz-page .contenedor2 .precio {
      padding-top: 8px;
      padding-bottom: 16px;
      font-size: 1.5em; }
    .content-page .interfaz-page .contenedor2 p {
      font-size: 16px;
      padding-top: 8px;
      padding-bottom: 16px; }
    .content-page .interfaz-page .contenedor2 button {
      height: max-content;
      width: max-content;
      border-width: 1px;
      border-radius: 4px; }

.content-page .tabla-info {
  width: 100%;
  margin-bottom: 64px;
  font-size: 16px; }
  .content-page .tabla-info tr td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 16px; }
  .content-page .tabla-info tr th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 16px; }

.foto1 .foto2:hover {
  transform: scale(1.1); }

.seccion-ubicacion {
  padding-top: 64px;
  flex-direction: row;
  display: flex;
  justify-content: center; }
  .seccion-ubicacion .ubicacion {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0, 64px, 64px, 64px; }
    .seccion-ubicacion .ubicacion h1 {
      margin-top: 0 !important; }
    .seccion-ubicacion .ubicacion table tr {
      display: flex; }
      .seccion-ubicacion .ubicacion table tr th {
        text-align: center;
        align-content: center;
        padding: 16px;
        width: 50%; }
        .seccion-ubicacion .ubicacion table tr th p {
          font-weight: 100; }
  .seccion-ubicacion .ubicacion-image {
    max-height: 400px;
    max-width: 400px; }
  .seccion-ubicacion img {
    width: auto;
    height: auto; }

@media screen and (max-width: 1024px) {
  nav .logo {
    flex-flow: column;
    padding: 0;
    padding-top: 32px;
    text-align: center; }
  nav .nav-bar {
    text-align: center;
    font-size: 1em; }
  .content-page {
    flex-flow: column;
    margin-top: 64px;
    padding: 0;
    justify-content: center; }
    .content-page .interfaz-page {
      margin: 0;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
      .content-page .interfaz-page .contenedor1 {
        align-items: center; }
        .content-page .interfaz-page .contenedor1 .fotos {
          justify-content: center; }
      .content-page .interfaz-page .contenedor2 {
        padding: 0;
        margin: 0;
        padding-top: 16px; }
  .segundo-apartado .contenedor-apartado {
    flex-direction: column; }
    .segundo-apartado .contenedor-apartado .tarjeta {
      margin-top: 48px !important; }
  .seccion-ubicacion {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
  .contenedor-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px; } }

@media screen and (max-width: 768px) {
  .content-page {
    flex-flow: column;
    margin-top: 64px;
    padding: 0;
    justify-content: center; }
    .content-page .interfaz-page {
      margin: 0;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 0%; }
      .content-page .interfaz-page div .fotos {
        justify-content: center; }
      .content-page .interfaz-page .caracteristicas {
        padding: 0;
        margin: 0;
        padding-top: 16px; }
    .content-page table {
      margin-top: 32px;
      margin-bottom: 32px; }
  .descripcion {
    padding: 16px;
    justify-content: flex-start; }
  .contenedor-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px; }
  footer {
    font-size: 0.7em;
    justify-content: center; }
  .seccion-ubicacion {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
  .segundo-apartado .contenedor-apartado .tarjeta {
    transform: scale(0.9); } }

@media screen and (max-width: 480px) {
  body {
    padding-left: 2% !important;
    padding-right: 2% !important; }
  nav .logo {
    flex-flow: column;
    padding: 0;
    padding-top: 32px;
    text-align: center; }
  nav .nav-bar {
    flex-flow: column;
    padding: 0;
    border-width: 0;
    text-align: center;
    font-size: 8px; }
  .content-page .interfaz-page {
    margin: 0;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    .content-page .interfaz-page div .fotos {
      justify-content: center; }
  .content-page table {
    margin-top: 32px;
    margin-bottom: 32px; }
  .content-page .caracteristicas {
    padding: 0;
    margin: 0;
    padding-top: 16px; }
  .contenedor-items {
    display: grid;
    grid-template-columns: 1fr;
    padding: 16px; }
  .seccion-ubicacion {
    display: flex;
    flex-flow: column;
    justify-content: center; }
    .seccion-ubicacion table {
      transform: scale(0.8); }
  .segundo-apartado .contenedor-apartado .tarjeta {
    transform: scale(0.8); } }

button {
  border-radius: 5px !important;
  border-width: 1px; }

.border {
  border-color: rgba(0, 0, 0, 0.5) !important; }

h1 {
  margin: 16px !important; }

.border:hover {
  transform: scale(1.1); }

.log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; }
  .log-in div {
    border-radius: 5px;
    background-color: #e9e9e9;
    display: grid;
    align-items: center;
    height: fit-content;
    padding: 16px; }
    .log-in div h1 {
      display: flex;
      justify-content: center; }
    .log-in div div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: fit-content; }
      .log-in div div div {
        padding: 8px; }
        .log-in div div div input {
          padding: 8px;
          border-color: black;
          border-width: 1px;
          border-radius: 5px; }
      .log-in div div .except {
        width: 300px;
        text-align: center; }
      .log-in div div a {
        text-decoration: none;
        color: black;
        font-weight: 400;
        padding: 8px;
        transition-property: all;
        transition-delay: 0ms;
        transition-duration: 50ms;
        transition-timing-function: ease-in-out; }
        .log-in div div a button {
          border-width: 1px;
          border-radius: 5px;
          padding: 8px; }
      .log-in div div a:hover {
        transform: scale(1.1); }

.register {
  height: 930px; }

.segundo-apartado .contenedor-apartado {
  display: flex;
  justify-content: center;
  transition-property: all;
  transition-delay: 0ms;
  transition-duration: 50ms;
  transition-timing-function: ease-in-out;
  height: auto;
  width: 100%; }
  .segundo-apartado .contenedor-apartado .tarjeta {
    padding: 32px;
    padding-bottom: 0;
    margin: auto;
    margin-top: 128px;
    border: solid rgba(0, 0, 0, 0.5) 1px;
    border-radius: 5px;
    max-width: 364px;
    height: auto;
    width: 100%; }
    .segundo-apartado .contenedor-apartado .tarjeta a {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-decoration: none;
      list-style-type: none;
      color: black;
      align-items: center; }
      .segundo-apartado .contenedor-apartado .tarjeta a .tarjeta-img {
        padding: 0;
        max-width: 300px;
        height: auto;
        width: 100%; }
      .segundo-apartado .contenedor-apartado .tarjeta a h3 {
        padding: 16px;
        margin: 0; }
  .segundo-apartado .contenedor-apartado div:hover {
    transform: scale(1.1); }

body {
  padding-left: 10%;
  padding-right: 10%; }
