h1 {
  font-size: 2em;
  display: flex;
  flex-direction: row; }

.font {
  font-family: "Prompt", sans-serif; }

nav .logo a {
  padding: 32px;
  display: flex;
  justify-content: center; }

nav .nav-bar {
  padding: 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  border: 1px;
  border-style: solid;
  border-color: black;
  margin: 8px; }
  nav .nav-bar div a {
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 50ms;
    transition-timing-function: ease-in-out;
    font-size: 1.3em;
    text-decoration: none;
    font-size: large;
    color: black;
    font-weight: bolder; }
  nav .nav-bar div:hover {
    transform: scale(1.1); }

nav div ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 64px;
  justify-content: center; }
  nav div ul a li {
    display: inline-block;
    padding: 32px;
    border: 1px;
    font-family: 'Prompt', sans-serif;
    border-radius: 5px;
    margin-bottom: 32px;
    border: 1px;
    border-style: solid;
    border-color: black !important;
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 50ms;
    transition-timing-function: ease-in-out; }
    nav div ul a li img {
      text-decoration: none;
      list-style-type: none; }

footer {
  margin: 0px;
  font-size: larger;
  font-weight: 700;
  display: flex;
  justify-content: center; }

.content-page div {
  width: auto;
  height: auto;
  padding: 64px;
  display: flex; }
  .content-page div img {
    height: max-content;
    width: max-content; }
  .content-page div div {
    padding-left: 64px;
    padding-top: 16px;
    flex-direction: column; }
  .content-page div .precio {
    font-weight: bolder;
    font-size: large; }
  .content-page div button {
    height: max-content;
    width: max-content;
    border-width: 1px;
    border-radius: 4px; }

.seccion-ubicacion {
  padding-top: 64px;
  flex-direction: row;
  display: flex;
  justify-content: center; }
  .seccion-ubicacion .ubicacion {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 64px; }

button {
  border-radius: 5px !important; }

.border {
  border-color: black !important; }

h1 {
  margin: 16px !important; }

.border:hover {
  transform: scale(1.1); }

@media screen and (max-width: 768px) {
  div h1 {
    font-size: 1em;
    padding: 8px; }
  nav .logo {
    flex-flow: column;
    padding: 0;
    padding-top: 32px;
    text-align: center; }
  nav .nav-bar {
    text-align: center;
    font-size: 1em; }
  .content-page {
    flex-flow: column;
    margin-top: 64px;
    padding: 0;
    justify-content: center; }
    .content-page .interfaz-page {
      margin: 0;
      flex-flow: column;
      justify-content: center; }
      .content-page .interfaz-page .product-image {
        width: 80%;
        height: 80%; }
      .content-page .interfaz-page .caracteristicas {
        padding: 0;
        margin: 0;
        padding-top: 16px; }
  .descripcion {
    padding: 16px;
    justify-content: flex-start; }
  .contenedor-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px; }
  footer {
    font-size: 0.7em;
    justify-content: center; }
  .seccion-ubicacion {
    display: flex;
    flex-flow: column;
    justify-content: center; }
  .ubicacion-image {
    padding: 16px;
    margin: 16px; } }

@media screen and (max-width: 480px) {
  nav .logo {
    flex-flow: column;
    padding: 0;
    padding-top: 32px;
    text-align: center; }
  nav .nav-bar {
    flex-flow: column;
    padding: 0;
    border-width: 0;
    text-align: center;
    font-size: 8px; }
  .content-page .caracteristicas {
    padding: 0;
    margin: 0;
    padding-top: 16px; }
    .content-page .caracteristicas h2 {
      font-size: large; }
    .content-page .caracteristicas p {
      font-size: medium; }
  .contenedor-items {
    display: grid;
    grid-template-columns: 1fr;
    padding: 16px; }
  .seccion-ubicacion {
    display: flex;
    flex-flow: column;
    justify-content: center; }
  .ubicacion-image {
    padding: 16px;
    margin: 16px; } }
