.seccion-ubicacion {
    padding-top: $spacing*8;
    flex-direction: row;
    @include flex;

    .ubicacion {
        display: flex;
        flex-flow: row;
        justify-content: center;
        padding: $spacing*8;
    }

}