footer {
    margin-top: $spacing*8 !important;
    padding: $spacing/2;
    color: white;
    background-color: black;
    margin: 0;
    text-align: center;
    @include flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}