.content-page {
    .interfaz-page {
        width: auto;
        height: auto;
        padding-top: $spacing*8;
        padding-bottom: $spacing*4;
        display: flex;

        .contenedor1 {
            display: flex;
            flex-direction: column;
            

            .fotos-producto {
                display: flex;
                flex-direction: row;
                max-width: 600px;
                overflow: hidden;
                margin: 0;
                padding: 0;
                width: 100%;
                height: auto;

                .product-image {
                    width: 100%;
                    height: auto;
                }


            }
            div {
                display: flex;
                flex-direction: row;
                padding-top: $spacing*2;

                .foto1 {
                    padding-right: $spacing*4;
                    @include animation;

                    i {
                        max-height: 150px;
                        max-width: 150px;
                        height: auto;
                            width: 100%;

                        img {
                            height: auto;
                            width: 100%;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }

                .foto2 {
                    @include animation;
                    i {
                        max-height: 150px;
                        max-width: 150px;
                        height: auto;
                            width: 100%;

                        img {
                            height: auto;
                            width: 100%;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }

        }
        .contenedor2 {
            display: flex;
            padding-left: $spacing*12;
            padding-top: $spacing*2;
            flex-direction: column;
            align-items: flex-start;


            h2 {
                padding-top: $spacing;
                padding-bottom: $spacing*2;
            }

            .precio {
                padding-top: $spacing;
                padding-bottom: $spacing*2;
                font-size: 1.5em;
            }

            p {
                font-size: $spacing*2;
                padding-top: $spacing;
                padding-bottom: $spacing*2;
            }

            button {
                height: max-content;
                width: max-content;
                border-width: 1px;
                border-radius: $spacing/2;
            }
        }
    }

    .tabla-info {
        width: 100%;
        margin-bottom: $spacing*8;
        font-size: $spacing*2;

        tr {
            td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: $spacing*2;
            }

            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: $spacing*2;

            }
        }
    }
}

.foto1 .foto2:hover {
    transform: scale(1.1);
}