.content-page {
    .interfaz-page {
        width: auto;
        height: auto;
        padding: $spacing*8;
        @include flex;



        img {
            height: max-content;
            width: max-content;
        }

        div {
            padding-left: $spacing*12;
            padding-top: $spacing*2;
            flex-direction: column;

            .precio {
                font-weight: bolder;
                font-size: large;
            }

            button {
                height: max-content;
                width: max-content;
                border-width: 1px;
                border-radius: $spacing/2;
            }
        }




    }
}