@media screen and (max-width: 1024px) {

    nav {
        .logo {
            flex-flow: column;
            padding: 0;
            padding-top: 32px;
            text-align: center;
        }

        .nav-bar {
            text-align: center;
            font-size: 1em;
        }
    }

    .content-page {
        flex-flow: column;
        margin-top: 64px;
        padding: 0;
        justify-content: center;

        .interfaz-page {
            margin: 0;
            flex-flow: column;
            justify-content: center;
            align-items: center;


            .contenedor1 {

                align-items: center;

                .fotos-producto {

                    img {}
                }

                .fotos {
                    justify-content: center;
                }
            }

            .contenedor2 {
                padding: 0;
                margin: 0;
                padding-top: 16px;
            }
        }
    }

    .segundo-apartado {
        .contenedor-apartado {
            flex-direction: column;

            .tarjeta {
                margin-top: $spacing*6 !important;
            }
        }

    }

    .seccion-ubicacion {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

    }

    .contenedor-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
    }
}

@media screen and (max-width: 768px) {
    .content-page {
        flex-flow: column;
        margin-top: 64px;
        padding: 0;
        justify-content: center;

        .interfaz-page {
            margin: 0;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            padding: 0%;



            div {
                .fotos-producto {

                    img {}
                }

                .fotos {
                    justify-content: center;
                }
            }

            .caracteristicas {
                padding: 0;
                margin: 0;
                padding-top: 16px;
            }
        }

        table {
            margin-top: $spacing*4;
            margin-bottom: $spacing*4;
        }
    }

    .descripcion {
        padding: $spacing*2;
        justify-content: flex-start;
    }

    .contenedor-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
    }

    footer {
        font-size: 0.7em;
        justify-content: center;
    }

    .seccion-ubicacion {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

    }

    .segundo-apartado {
        .contenedor-apartado {
            .tarjeta {
                transform: scale(0.9);
            }
        }

    }

    .navbar {
        display: flex !important;
        flex-flow: column !important;
        align-items: flex-start !important;

        .container-fluid {
            padding: 0;
            padding-bottom: $spacing;
        }

        .dropdown {
            .dropdown-menu {
                left: 0;
                right: unset;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    body {
        padding-left: 2% !important;
        padding-right: 2% !important;
    }

    nav {
        .logo {
            flex-flow: column;
            padding: 0;
            padding-top: 32px;
            text-align: center;
        }

        .nav-bar {
            flex-flow: column;
            padding: 0;
            border-width: 0;
            text-align: center;
            font-size: $spacing;
        }
    }

    .content-page {
        .interfaz-page {
            margin: 0;
            flex-flow: column;
            justify-content: center;
            align-items: center;


            div {
                .fotos-producto {

                    img {}
                }

                .fotos {
                    justify-content: center;
                }
            }
        }

        table {
            margin-top: $spacing*4;
            margin-bottom: $spacing*4;
        }

        .caracteristicas {
            padding: 0;
            margin: 0;
            padding-top: 16px;
        }
    }

    .contenedor-items {
        display: grid;
        grid-template-columns: 1fr;
        padding: 16px;
    }

    .seccion-ubicacion {
        display: flex;
        flex-flow: column;
        justify-content: center;

        table {
            transform: scale(0.8);
        }
    }

    .segundo-apartado {
        .contenedor-apartado {
            .tarjeta {
                transform: scale(0.8);

            }
        }
    }
}