.navbar {
    display: flex !important;
    flex-flow: row nowrap !important;
    justify-content: space-between !important;

    .container-fluid {
        padding: 0;

        button {
            border: none;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
            background-color: white;
        }

        button:hover {
            opacity: 0.5;
        }

    }

    .dropdown {
        .btn {
            background-color: white;
            color: black;
            border: none;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
        }

        .dropdown-menu {
            right: 0;
            left: unset;
        }

        .dropdown-menu:hover {
            opacity: 1;

        }
    }

    .dropdown:hover {
        opacity: 0.5;
    }
}

nav {
    .top-page {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contenedor-top1 {
            .boton {
                padding: $spacing;
                margin: $spacing;
                background-color: white;
                @include animation;
            }

            .boton-primario {
                @extend .boton;
                border-color: white;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
            }

            .boton-secundario {
                @extend .boton;
                border-color: white;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
            }
        }

        .contenedor-top2 {
            a {
                .fa-cart-shopping:before {
                    background-color: white;
                    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
                    border-radius: 5px;
                    width: 24px;
                    margin: $spacing*2;
                    padding: $spacing*2 !important;
                    color: black;
                }

                .fa-cart-shopping:hover {
                    opacity: .5;
                    transform: scale(1.1)
                }
            }
        }
    }

    .logo {
        @include animation;

        a {
            padding: $spacing*4;
            padding-top: 0;
            @include flex;

            img {
                border-radius: 5px;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
            }
        }
    }

    .logo:hover {
        transform: scale(1.1);

        img:hover {
            opacity: 0.5;
        }
    }

    .boton:hover {
        transform: scale(1.1);
        opacity: 0.5;
    }

    .nav-bar {
        margin: 0;
        padding: $spacing*2;
        border-radius: 5px;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        list-style-type: none;
        text-decoration: none;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

        div {
            @include animation;

            a {
                font-size: 1.3em;
                text-decoration: none;
                font-size: large;
                color: black;
                font-weight: 600;
            }

            a:focus {
                color: rgb(187, 187, 187);
            }
        }

        div:hover {
            transform: scale(1.1);
            opacity: 0.5;
        }
    }
}