nav{
    .boton{
        border: 1px;
        padding: $spacing;
        margin: $spacing;
        border: solid 1px;
    }
    .boton-primario{
        @extend .boton;
        border-color:#dee2e6;
    }
    .boton-secundario{
        @extend .boton;
        border-color: black;
    }
    .logo{
        a{
            padding: $spacing*4;
            @include flex;
        }
    }
    .nav-bar{
        padding: $spacing*2;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        flex-flow: row;
        justify-content: space-around;
        list-style-type: none;
        text-decoration: none;
        border: 1px;
        border-style: solid;
        border-color: black;
        margin: $spacing;

        div a{
            transition-property: all;
            transition-delay: 0ms;
            transition-duration: 50ms;
            transition-timing-function: ease-in-out;
            font-size: 1.3em;
            text-decoration: none;
            font-size: large;
            color: black;
            font-weight: bolder;
        }
        div:hover{
            transform: scale(1.1);
        }
    }
}