nav {
    .boton {
        border: 1px;
        padding: $spacing;
        margin: $spacing;
        border: solid 1px;
        @include animation;
    }

    .boton-primario {
        @extend .boton;
        border-color: #dee2e6;
    }

    .boton-secundario {
        @extend .boton;
        border-color: black;
    }

    .logo {
        a {
            padding: $spacing*4;
            padding-top: 0;
            @include flex;
        }
    }

    .boton:hover {
        transform: scale(1.1);
        background-color: rgb(187, 187, 187);
    }

    .nav-bar {
        padding: $spacing*2;
        border-radius: 5px;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        list-style-type: none;
        text-decoration: none;
        border: 1px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.5);
        margin: $spacing;

        div {
            a {
                @include animation;
                font-size: 1.3em;
                text-decoration: none;
                font-size: large;
                color: black;
                font-weight: bolder;
            }
            a:focus {
                color:rgb(187, 187, 187);
            }
        }

        div:hover {
            transform: scale(1.1);
        } 
    }
}