nav {
    h1 {}

    div {
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: $spacing*8;
            justify-content: center;

            a {
                li {
                    display: inline-block;
                    padding: $spacing*4;
                    border: 1px;
                    font-family: 'Prompt', sans-serif;
                    border-radius: 5px;

                    margin-bottom: $spacing*4;
                    border: 1px;
                    border-style: solid;
                    border-color: rgb(0, 0, 0) !important;
                    @include animation;

                    img {
                        text-decoration: none;
                        list-style-type: none;
                    }
                }
            }
        }
    }
}