nav {
    h1 {}

    div {
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: $spacing*8;
            justify-content: center;
            justify-items: center;
            padding: 0px 15% 0px 15%;

            a {
                li {
                    display: flex;
                    flex-flow: column wrap;
                    align-items: flex-start;
                    padding: $spacing*4;
                    border: 1px;
                    font-family: 'Prompt', sans-serif;
                    border-radius: 5px;

                    margin-bottom: $spacing*4;
                    border: 1px;
                    border-style: solid;
                    border-color: rgb(0, 0, 0) !important;
                    @include animation;

                    img {
                        text-decoration: none;
                        list-style-type: none;
                    }

                    p {
                        padding-top: $spacing;
                    }
                }
            }
        }
    }
}