#carouselExampleControls{
    margin-top: $spacing*8;
}
.segundo-apartado {
    margin-top: $spacing*12;

    .contenedor-apartado {
        align-items: center;
        @include flex;
        
        height: auto;
        width: 100%;

        .tarjeta {
            padding: $spacing*4;
            padding-bottom: 0;
            margin-left: $spacing*8;
            margin-right: $spacing*8;
            border-radius: 5px;
            max-width: 364px;
            height: auto;
            width: 100%;
            @include animation;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

            a {
                @include flex;
                flex-direction: column;
                text-decoration: none;
                list-style-type: none;
                color: black;
                align-items: center;

                .tarjeta-img {
                    padding: 0;
                    max-width: 300px;
                    height: auto;
                    width: 100%;
                    border-radius: 5px;
                }

                h3 {
                    padding: $spacing*2;
                    margin: 0;
                }
            }
        }

        div:hover {
            transform: scale(1.04);
            opacity: 0.5;
            
        }
    }
}