.segundo-apartado {

    .contenedor-apartado {
        @include flex;
        @include animation;
        height: auto;
        width: 100%;

        .tarjeta {
            padding: $spacing*4;
            margin: auto;
            margin-top: $spacing*16;
            border: solid rgba(0, 0, 0, 0.5) 1px;
            border-radius: 5px;
            max-width: 364px;
            height: auto;
            width: 100%;

            a {
                @include flex;
                flex-direction: column;
                text-decoration: none;
                list-style-type: none;
                color: black;
                align-items: center;

                .tarjeta-img {
                    padding: 0;
                    max-width: 300px;
                    height: auto;
                    width: 100%;
                }

                h3 {
                    padding: $spacing*2;
                    margin: 0;
                }
            }
        }

        div:hover {
            transform: scale(1.1);
        }
    }
}