@import "variables";
@import "nav-bar";
@import "prendas";
@import "footer";
@import "interfaz-compra";
@import "contacto-ubicacion";
@import "media-queries";

button{
    border-radius: 5px !important;
}
.border{
    border-color: black !important;

}
h1{
    margin: $spacing*2 !important;
}
.border:hover{
    transform: scale(1.1);
}


    
    
    
    
    
    
  
